{% extends 'craigs/base.html' %}
{% block title %}List of Tasks{% endblock %}
{% block body %}

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}
{% if options %}
<h2 class="middle">
    List of tasks:
</h2>
<br>
<div class="card-columns">
{% for option in options %}
<div class="card ">
  <div class="card-header">
      <a href="{% url 'craigs:last_items' option.id %}" >{{option.job_name}}</a>
  </div>
  <div class="card-block">
    <h4 class="card-title">{{option.category}}</h4>
      {% if not option.keyword %}
      <br>
      {% endif %}
      {% if not option.category %}
      <br>
      {% endif %}
      <h6 class="card-subtitle mb-2 text-muted">{{option.keyword}}</h6>
      <small class="text-muted"><a href="{% url 'craigs:task_delete' option.id %}" class="card-link">Delete</a> </small>
      <form method="post" action="{%url 'craigs:edit_option' %}" >
          {% csrf_token %}
          <input name="is_active" {% if option.is_active %}checked=""{% endif %} type="checkbox">Active job
          <input name="pk" hidden="" type="text" value="{{option.pk}}">

    <input class="btn btn-primary" type="submit" value="Save">
    </form>
  </div>
</div>
 {% endfor %}
{% endif %}



{% endblock %}